<p>Want something to take a while? Try it here!</p>
<div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <input class="form-control" placeholder="How long should it take?" type="number" ng-model="PC.expected"/>
      </div>
      <div class="col-xs-6">
        <input class="form-control" placeholder="How long will it take?" type="number" ng-model="PC.actual"/>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-primary" type="button" ng-click="PC.start(PC.expected, PC.actual);">Start</button>
      <button class="btn btn-danger" type="button" ng-click="PC.stop();">Stop</button>
      <button class="btn btn-default" type="button" ng-click="PC.restart(PC.expected, PC.actual);">Restart</button>
    </div>
  </div>
</div>
